# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*
!expr_compress/layers/cpp/ConvCpp.mexmaci64
!expr_compress/layers/cpp/MonoConvCpp.mexmaci64

*.swp

# Simulink Code Generation	
slprj/

.DS_Store

trained/imagenet.mat
data/imagenet_regression/*
data/imagenet/test.mat
data/imagenet/train.mat
data/imagenet/imagenet-weight.mat
data/imagenet/imagenet-test-batch.mat
cuda/C_.cpp
data/mnist/test1*.mat
data/mnist/val1*.mat
data/mnist/train1*.mat
data/imagenet/*
cuda/*.mat
expr_compress/logs/*

trained/._imagenet.mat
trained/*imagenet*
*_gen.*
.smb*
._*
*.aux
*.log
trained/epoch0000_phase1.mat
trained/model_00000008.mat
expr_compress/expr_compress/logs
expr_compress/paper/*.pdf
